@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Patua+One&family=Roboto+Slab:wght@100..900&display=swap');
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    background: url(../assets/images/bgHeader.png) no-repeat;
    height:788px;
    width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    width: 1400px;
}
footer{
    background-color: #ff8940;
    width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: #ff8940;
    font-size: 90px;
    font-family: "Roboto Slab", serif;
}
h2{
    color: #ff8940;
    font-size: 40px; 
    font-family: "Roboto Slab", serif;
}
p{
    font-size: 23px;
}
.pfooter{
    font-size: 14px;
    color: white;
}
.derechos{
    font-size: 10px;
    color: white;
}
.botonView {
    display: flex;
    background-color: #ff8e45;
    align-items: center;
    justify-content: center;
    padding: 0 3px 0 3px;
    color: white;
    gap: 20px;
    width: 180px;
    border-radius: 35px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 50px;
}
.botonCheck {
    display: flex;
    background-color: #ff8e45;
    align-items: center;
    justify-content: center;
    padding: 0 3px 0 3px;
    color: white;
    gap: 20px;
    width: 260px;
    border-radius: 35px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 50px;
}
.headerText{
    font-size: 35px;
    margin-top: -40px;
    margin-bottom: 150px;
    font-family: "Roboto Slab", serif;
}
.section1{
    display: flex;
    padding: 150px 150px 0 150px;
    gap: 170px;
}
.section2{
    display: flex;
    padding: 150px 100px 0 150px;
    gap: 280px;
}
.down{
    background: url(../assets/images/bgDown.png) no-repeat;
    width: 1400px;
    height: 578px;
    display: flex;
    flex-direction: column;
}
.intDown{
    margin: 50px 0 50px 150px;
    width: 550px;
}
.intfooter{
    display: flex;
    justify-content: center;
    gap: 80px;
}