main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} 
.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box2 {
    display: flex;
    background-color: rgb(221, 221, 221);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin: 2px 0 2px 0;
    padding: 0 8px 0 8px;
    font-size: 15px;
}
footer {
    display: flex;
    justify-content: center;
}
.bot1 {
    background-color: white;
    padding: 4px;
    color: black;
    text-decoration: solid;
}