body{
    width: 1000px;
}
header{
    background-color: #fa8071;
    display: flex;
    flex-direction: column;
    align-items: center; 
    color: white;
    padding: 20px 0 20px 0;       
}
nav{
    background-color: #1ebb9e;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;    
}
main{
    display: flex;
}
aside{
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 10px;
}
section{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
footer{
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.href1{
    color: white;
    text-decoration: solid;
    font-size: 15px;
    margin: 0 10px 0 10px;
}
.img400x400{
    width: 280px;
    height: 290px;
}
.img400x200{
    width: 280px;
    height: 150px;
    margin: 5px 0 5px 0;
}
.img668x200{
    width: 680px;
    height: 150px;
}
hr{
    border: 0.5px solid #918e8e;
    width: 100%;
    margin-top: 0px;
}
p{
    font-size: 15px;
}
h2{
    font-size: 21px;
}
h1{
    font-size: 30px;
}