<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familia</title>
    <link rel="stylesheet" href="../styles/style.css ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <header>
            <h1>Mis Familia</h1>
        </header>
        <nav>
            <a href="../index.html" class="botones">Quien soy</a>
            <a href="hobbies.html" class="botones" id="centro">Mis Hobbies</a>
            <a href="familia.html" class="botones">Mi Familia</a>
        </nav>
        <section>
            <h2>Mi familia</h2>
            <img src="../assets/images/familia.JPG">
            <p>Pertenezco a una muy unida familia en donde nos apoyamos mutuamente y celebramos las ocasiones especiales, la familia siempre esta primero y siempre intentamos estar unidos. Por parte de mi padre la familia es grande y vivimos cerca en la misma ciudad, nos reunimos muy a menudo y estamos pendientes unos de otros. Por parte de mi madre, mis parientes viven en Europa y hace complejo las reuniones pero aun asi siempre estamos atentos y pendientes de lo que sucede.</p>
        </section>
        <footer>
            <p id="foot">Página realizada por Julian Gordillo &copy;Todos los derechos reservados 2024</p>
        </footer>
    </main>
    
</body>
</html>