<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbies</title>
    <link rel="stylesheet" href="../styles/style.css ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <header>
            <h1>Mis Hobbies</h1>
            <p id="centro"></p>
            <ul>
                <li>Deporte</li>
                <li>Juegos</li>
                <li>Friki</li>
            </ul>
        </header>
        <nav>
            <a href="../index.html" class="botones">Quien soy</a>
            <a href="hobbies.html" class="botones" id="centro">Mis Hobbies</a>
            <a href="familia.html" class="botones">Mi Familia</a>
        </nav>
        <section>
            <div>
                <h2>Deportes</h2>
                <div>
                    <h3>Tenis de campo</h3>
                    <img src="../assets/images/tenisCampo.jpg">
                    <p>Apasionado por el tenis de campo, lo practico desde los 12 años, es mi deporte favorito, tanto verlo como jugarlo es mi pasión, es perfecto para disfrutar mis dias libres, ejercitarme y relajarme mentalmente de todo lo acumulado durante la semana.</p>
                </div>
                <div>
                    <h3>Gimnasio</h3>
                    <img src="../assets/images/gimnasio.webp">
                    <p>Ir al gimnasio es como más ejercito mi cuerpo durante la semana, me permite relajarme y liberar el estrés del dia a dia.</p>
                </div>
                <div>
                    <h3>Futbol</h3>
                    <img src="../assets/images/barca.webp">
                    <p>El futbol es mi segundo deporte favorito, no lo practico tanto, pero es el deporte que mas veo, sobre todo los fines de semana y entre semana cuando hay champions league, fiel seguidor del FC Barcelona, cada semana veo los partidos y noticias del equipo.</p>
                </div>
            </div>
            <div>
                <h2>Juegos</h2>
                <img src="../assets/images/gamer.jpeg">
                <p>Los juegos son mi pasión, desde pequeño me he inclinado por los juegos de computador, desde pequeño jugando Mario, Age of empires, hasta los ultimos juegos como GTA V, BlackDesert, Fifa, etc, es una de mis formas favoritas de utilizar mi tiempo de ocio.</p>
            </div>
            <div>
                <h2>Friki</h2>
                <img src="../assets/images/friki.jfif">
                <p>Fan de la cultura japonesa, de los anime, mangas, videojuegos, etc. Otra de mis formas preferidas de disfrutar mis ratos libres.</p>
            </div>
        </section>
        <footer>
            <p id="foot">Página realizada por Julian Gordillo &copy;Todos los derechos reservados 2024</p>
        </footer>
    </main>
    
</body>
</html>